 @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,900,100);
.font-thin {font-weight: 100;}
.font-light {font-weight: 300;}
.font-bold{font-weight: 700;}
.font-ub{font-weight: 900;}
.font-md{font-weight: 400;}
.overflow-hidden {
	overflow: hidden;
}
.font-lato{
	font-family: 'Lato', sans-serif;
}
.color-blue {
	color: #01B0AE;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
.color-white {
	color: #fff;
}
.text-d-blue {
	color: #646FB0;
}
.bg-gray {
	background: #f1f1f1;
}
.main-img-box {
	max-width: 100%;
	height: 500px;
	position: relative;
}
.main-img-box .slide-it {
	width: 100%;
  	height: 500px;

}
.slide-it.img1 {
	background: url('../img/Green-Nature-Trees-l.jpg') no-repeat center;
  	background-size: cover;
  	background-attachment: fixed;

}
.main-img-box .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
}
.front-p {
	font-size: 1.5em;
	color: #fff;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 8%;
}
.anim-text {
	font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.we {
font-weight: 500;
}
.img100 img {
	width: 100%;
	height: auto;
}

.header {
	min-height: 65px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	background: #333;
    border-bottom: 1px solid #eeeeee;
    
}

.header.scrolled {
	position: fixed;
	top: 0;
	left: 0;
    box-shadow: 0 0.5px 7px rgba(0, 0, 0, 0.1);
    z-index: 200;
    background: rgba(0, 0, 0, 0.5);
}
.header .nav-ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}
.header .nav-ul li{
	height: 100%;
	line-height: 65px;
	float: left;
	padding-right: 15px;
	padding: 0 10px;
	margin:  0 10px;
}
.header .nav-ul li:hover {
	background-color: rgba(255,255,255,0.2);


}
.header .nav-ul li:hover a {
	color: #fff;
	text-decoration: none;

}
.header .nav-ul li a {
	color: #fff;
	font-weight: 400;

}

.aboutus-title {
	text-align: center;
	margin: 50px 0;
}
.article {
	font-size: 20px;
	font-weight: 300;
}
/* progress-bar */
.skillbar {
    background: #f5f5fa;
}
.skillbar {
    width: 100%;
    height: 3px;
    border-radius: 0 2px 2px 0;
    overflow: hidden;
}
.skillbar-bar {
    background: #2BE029;
    box-shadow: 2px 0 5px 2px rgba(161, 130, 210, 0.3);
}
.skillbar-bar {
    height: 3px;
    width: 0;
    border-radius: 0 2px 2px 0;
}
.skillbar-title {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    line-height: 1.7;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.pointer-box {
	min-height: 200px;
}
.rating-p {
	font-size: 4em;
	text-align: center;
	line-height: 200px;
	font-weight: 100;
}
.service-box {
	min-height: 500px;
}
.service-title {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 80px;
}
.service-box p {
	font-size: 15px;
}
.service-icon {
	font-size: 50px;
}
.service-box .col-md-4 {
	height: 280px;
}
/* tabs */
.main-tab-box {
 max-width: 100%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ddd;
  border-top-color: #00B4F1;
}

.tab-content {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #484848;
  border: 1px solid transparent;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #00B4F1;
  border-bottom: 1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  /*color: #fff;*/
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
.header {position: relative;}
.res-icon {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
 /*  .res-header-desktop {
  	display: none;
  }
  .res-header-mobile {
  	display: block;
  } */

}



#content2 p, #content1 p  {
  display: inline-block;
  padding: 10px;
  margin-left: 45px;
}
#content2:last-child p{
  
}
.tab-title {
  display: block;
  background: #f7f7f7;
  padding: 10px;
}

.welness {
  margin: 0 auto;
  /*margin-left: 32px;*/
  width: 100%;
}
.bottom {
	position: relative;
	width: 100%;
	height: 80px;
	background: #201F21;
}

/* img-hover-effect  */
.tabs-img {
	position: relative;
	margin-top: 10px;
	-webkit-transition: all .3s ease-in;

}
 .tabs-img-overlay {
	width: 100%;
	height: 0px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: all .2s ease-in;
	color: #fff;
}
.tabs-img-overlay .over-title {
	font-weight: 300;
	text-align: center;
}
.tabs-img:hover{
	
}
.tabs-img:hover .tabs-img-overlay {
	height: 100px;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
   
}
.apporch-box {
	height: 500px;
}
.mt100 {
	margin-top: 100px;
}
.mb100 {
	margin-bottom: 	100px;
}

/* second-tabs-styling-from-here */
.tabs-item {
	border-bottom: 1px solid #ddd;
	list-style: none;
	margin: 0;	padding: 0;	
}
	.tabs-item li {
		display: inline-block;
		 text-align: center;
	}
	.tabs-item li a:hover {
	 	color: #00B4F1;
	 	text-decoration: none;
	}
	.tabs-item li a:focus {
		text-decoration: none;
	}

	.tabs-item li:first-child {
		margin-left: 0;

	}
	.content-box {
		width: 100%;
		min-height: 300px;

	}
.icon-big {
	font-size: 50px;
}
.some {
	border-bottom: 2px solid  #00B4F1;
}
.content-slider-box {
	width: 86%;
	color: #fff;
	text-align: center;
	margin-left: 7%;
	line-height: 2;
	font-size: 18px;
	letter-spacing: 1.5px;
}
.prev,.next {
	font-size: 20px;
	color: #333;
	padding: 20px 7px;
	background:rgba(255, 255, 255, 0.9);
	 border: 1px solid rgba(255, 255, 255, 0.2);
	 cursor: pointer;
	 -webkit-transition: all .2s ease-in;
	 position: absolute;
	top: 42%;
	z-index: 30000;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.prev {
	 border-left-width: 0;
	left: -40px;
}
.next {
	 border-right-width: 0;
	right: -40px;
}
.main-img-box:hover .next{
	right: 0;
}
.main-img-box:hover .prev{
	left: 0;
}
.pager{
	display: block;
	position: absolute;
    bottom: 20px;
    z-index: 300;
    left: 48%;

}
.pager >span{
	display: inline-block;
	height: 20px;
	width: 20px;
	border: 1px solid #ddd;
	margin: 10px 4px;
	border-radius: 1px;
	cursor: pointer;
}
.cycle-pager-active {
	color: #fff;
	background: white;
}
.multipule-img-slider {
	margin-top: 3%;
}
.multipule-img-slider img{
	padding: 8px;
}
.our-blog {
	min-height: 500px;
}
.fz17 {
	font-size: 17px;
}
/* stylishtext */


.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 4em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  line-height: 1em;
}
.letter .before, .letter .after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0px;
  left:0;
}
.letter, .letter .main, .letter .before, .letter .after{
  transition: all 0.3s ease-in-out;
}
.letter .before{
  color: #F5F5FA;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}



.letter .after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}

.letter:hover .before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}

.letter:hover .after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}
.color-white .before{
	color: #fff;
}
.br {
	border-right: 1px solid #109ECE;
}
.title-header {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: center;
	color: #01B0AE;
}
.down-angle {
	/* position: absolute; */
	bottom: 0;
	text-align: center;
	margin-top: 300px;
	color: #fff;
	-webkit-animation: anim-this 2s ease-in infinite;
}
@-webkit-keyframes anim-this{
	0% {
		-webkit-transform: translate(0px, 0px);
	}
	50% { 
		-webkit-transform: translate(0px, 20px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(0px, 0px);
		
	}
}

.active {
	background: #00B4F1;
	color: ;
}
.active a{
	color: #fff!important;
}
.container {
	overflow: hidden;
}
label::before {
	 font-family: 'Glyphicons Halflings';
	margin-right: 5px;
}
label[for*='1']::before {
    content: "\e005";
}
label[for*='2']::before {
    content: "\e008";
}
label[for*='3']::before {
    content: "\e006";
}
label[for*='4']::before {
    content: "\e001";
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
  .letter {
  	font-size: 2em !important;
  }
    .content-box .col-md-3 {
	  	padding-left: 4px !important;
	  	padding-right: 4px !important;

  }

}

.down-angle a{
	text-decoration: none;
	color: #fff !important;
}
.down-angle:hover a:hover {
	text-decoration: none;
}
.pos-fixed {
	position: fixed;
}
.bgcolor-l-blue{
	background: #00B4F1;
}
.text-shadow {
	text-shadow: rgba(0, 0, 0, 0.298039) 0px 5px 0px;
}
.text-normal {
	font-family: Roboto;
	font-weight: 300;
}
.main-title {
	text-align: center;
    margin-top: 185px;
    color: #fff;
    font-size: 80px;
}
.head-poaple-img {
	height: 400px;
	width: 100%;
}
.img-name {
	background: url(../img/asraha1.jpg) no-repeat center;
	background-size: cover;
}
.head-name {
	font-weight: 700;
	color: #646FB0;
	font-size: 20px;
}
.abh {
	font-size: 17px;
	margin-top: 20px;
	font-family: inherit;
	color: #4b4d5f;
	line-height: 27px;
	margin-bottom: 20px;
}
.head-container {
	width: 90%;
	margin: 30px auto;
}
.slider-container img{
	width: 100%;
	border-bottom: 	4px solid #01B0AE;
}
.slider-container {
	padding-top: 45px;
	padding-bottom: 55px;
}
.imgborder {
	margin: 0 5px;
}
.prevControl, .nextControl {
	position: absolute;
	top: 50%;
}
.por {
	position: relative;

}
.nextControl {
	right: 0px;
}
.prevControl {
		left: 	5px;
}
.gray-tile {
	margin-top: 0;
    margin-bottom: 40px;
}
.imgborder {
	width: 300px;

}
.viewallbtn {
background: none;
    box-shadow: none;
    border: none;
    border: 1px solid #6570b0;
    padding: 8px 60px;
    border-radius: 2px;
    display: inline-block;
	color: #646fb0;
	margin-top: 20px;
	margin-bottom: 20px;
	/* display: block; */
}
.mt15 {
	margin-top: 15px;
}
.text-black {
	color: #1f1f1f !important;
}

.viewallbtn:hover {
	background: #646fb0;
	color: #fff;
}
/*blog*/
.blog-content-box {
	width: 100%;
	height: 210px;
	overflow: hidden;
}
.blog-list {
	padding: 0;
	list-style: none;
}
.blog-list li {
	padding-bottom: 20px;
}
.blog-list li a {
	 display: block;
    font-weight: 700;
    color:#646fb0;
    font-size: 19px;
}
.rn-title {
	border-bottom: 1px solid #a5a5a5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.width100 {
	width: 100%;
}
.head-name a{
    font-weight: 700;
    color: #646FB0;
    font-size: 20px;
}
.news-photos {
	background: url('../img/Green-Nature-Trees-l.jpg') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 173px;
}
.news-header {
	margin-top: 0;
}
.news-header a {
	color: #646FB0;
}
.mt50 {
	margin-top: 50px;
}
.main-img-box img {
	background:;
}

@media (max-width: 767px) {
  .main-title {
  	margin-top: 161px ;
  	font-size: 48px;
  }
}